table, th, td
{
	border: 1px solid black;
	border-collapse: collapse;
}
table
{
	width: 100%;
}
th
{
	 background-color: #CCC;
	 width: 33%;
}
td
{
	background-color: #FFF0F5;
	width: 33%;
	font-style: italic;
}
.albumHeadings
{
	font-family: 'Lakki Reddy', cursive;
}
#albumCover
{
	margin: auto;
	height: 300px;
	width: 300px;
	border: 1px solid black;
	background-image: url("albumCover.jpg");
}
li
{
	font-style: italic;
}
a:link
{
	text-decoration: none;
}
a:visited
{
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
	background-color: maroon;
	color: white;
}
a:active
{
	text-decoration: none;
}