table, th, td
{
	border: 2px solid black;
	border-collapse: collapse;
	text-align: center;
}
table
{
	width: 100%;
}
th
{
	 background-color: #CCC;
	 width: 33%;
}
td
{
	width: 33%;
	font-style: italic;
}
tr:nth-child(even)
{
	background-color: #FFF0F5;
}
tr:nth-child(odd)
{
	background-color: #996F6F;
}
.albumHeadings
{
	font-family: 'Lakki Reddy', cursive;
}
li
{
	font-style: italic;
}
a:link
{
	text-decoration: none;
}
a:visited
{
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
	background-color: maroon;
	color: white;
}
a:active
{
	text-decoration: none;
}