div
{
	text-align: center;
}
a
{
	margin-left: 20px;
}
#description
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 110px;
	border: 1px solid black;
	width: 400px;
	height: 150px;
	padding: 1%;
	text-align: left;
}
#headerName
{
	height: 20%;
	margin-top: 25px;
	margin-bottom:25px;
	font-family: 'Cinzel', serif;
}
#siteNav
{
	text-align: left;
	height: 10%;
	margin-top: 12px;
	margin-bottom: 20px;
}
#footer
{
	height: 10%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.content
{
	background-color: #DDD;
}
.left
{
	font-weight: bold;
}
a:link
{
	color: blue;
}
a:visited
{
	color: black;
}
a:hover
{
	font-weight: bold;
}
a:active
{
	text-decoration: none;
}