body
{
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

h1
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#startAmtInput
{
	border: 2px solid gray;
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 10px;
	width: 120px;
	padding: 5px
}

button
{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	background-color: #CCC;
	border: 2px solid gray;
	border-radius: 4px;
	width: 178px;
	height: 63px;
}

table
{
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: #EEE;
	border-collapse: collapse;
}

#tableName
{
	text-align: center;
	font-size: x-large;
	text-decoration: underline;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 8px;
	padding-bottom: 8px;
	border: none;
}

th
{
	background-color: #CCC;
}

th, td
{
	border: 1px solid white;
	text-align: left;
	padding-left: 10px;
}

.leftCell
{
	width: 178px;
	height: 63px;
}

.rightCell
{
	width: 120px;
	height: 63px;
}

#tableDiv
{
	margin: auto;
	background-color: #EEE;
	width: 363px;
	height: 333px;
}