table, th, td
{
	border: 1px solid black;
	border-collapse: collapse;
}
table
{
	width: 100%;
}
th
{
	 background-color: #CCC;
	 width: 33%;
}
td
{
	width: 33%;
}
.albumHeadings
{
	font-family: 'Lakki Reddy', cursive;
}
#albumCover
{
	margin: auto;
	height: 300px;
	width: 300px;
	border: 1px solid black;
	background-image: url("albumCover.jpg");
}
li
{
	font-style: italic;
}