body
{
	font-family: "Comic Sans MS", cursive, sans-serif;
}
div
{
	text-align: center;
}
a
{
	margin-left: 20px;
}
#description
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 1px solid black;
	width: 400px;
	height: 200px;
	padding-left: 10px;
	text-align: left;
}
#headerName
{
	height: 20%;
	margin-top: 25px;
	margin-bottom:25px;
}
#headerLinks
{
	text-align: left;
	height: 10%;
	margin-top: 12px;
	margin-bottom: 20px;
}
#footer
{
	height: 10%;
	margin-top: 10px;
	margin-bottom: 10px;
}